*{
    margin: 0;box-sizing: border-box;padding: 0;
}
body {
    width: 100%;
    height: max-content;
    background-image: url(/img/hinh-nen-powerpoint-trong-dong-lam-son-cuc-dep-cua-lich-su_034831910.png);
}
#body{
    width:80%;
    margin: 0 auto;
}
#header{
    height: 220px;
    background-image: url(img/cucu.png);
    background-size: 100% 100%;
}
/*hết headeer */
#menu{
    height:50px;
    background-color:#4372e9;
    display: flex;
    justify-content: center;
}
#menu ul{
    padding-left: 0;
}
#menu ul li{
    list-style: none;
    display: inline-block;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    line-height: 50px;
    font-variant: small-caps;
    
}
#menu ul li a:hover{
    color: #f6e58d;
    text-decoration: none;
}
#menu ul ul{
    position: absolute;
    display: none;

}
#menu ul ul a{
    display: block;
    padding: 0 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid black;
    font-variant: small-caps;
    
}
#menu ul li:hover ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #4372e9;
    width:max-content;
    z-index: 1;
    padding-left: 0;
}
#menu >ul >li >ul >li{
    padding-left: 0;
}
#menu ul ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    width: 0;
    height: 100%;
    background-color: #e74c3c;
    transition: .25s;
    z-index: -1;
    
}
#menu ul ul li:hover::before{
    width: 100%;
    left: 0;
    right: auto;
   
}
/*end menu */
#slide{
    height: 35px;
    background-color:#bdc3c7;
}
#slide marquee p{
    font-size: 30px;
    line-height:35px ;
    color:#2e86de;
    text-transform: uppercase;
    font-weight: bold;
    
}
/* end slide */

#content{
    height: 1800px;;
    background-color:white;
    margin-bottom: 10%;
}
#left{
    width: 25%;
    height: 100%;
    float: left;
    background-color:white;
}
#title{
    background-color: orange;
    color: white;
    height: 33px;
}
#title h3{
    font-size: 25px;
    margin-left: 16px;
    line-height: 33px;
}

#left a{
    text-decoration: none;
    display:flex;  
}
#left a:hover{
    text-decoration: underline;
    color: red;
}
#left a img{
    margin: 5px 10px;
}
#left a p{
    font-size: 16px;
}
.idea{
    border: 1px solid black;
    border-radius: 2%;
    margin: 20px 10px;
}
.title1{
    background-color: cornflowerblue;
    text-align: center;
    border-bottom: 1px solid black; 
    padding-top: 0px;  
}
.title1 h3{
    padding: 10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.top h4{
    margin:0 30px;
}
.radio{
    font-size: large;
    line-height: 39px;
    margin-left: 18px;
}
.clearfix{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 5px;
    color: white;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    border: none;
}
.button:active{
    background-color:#3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
/*end left của content*/
#main{
    width: 50%;
    height: 100%;
    float: left;
    display: block;
    clear:right;
}
.title2{
    background-color: red;
    padding: 10px;
}
.main-top{
    box-shadow: 0 0 18px gray;
    margin: 0 10px;
}
#main a{
    color: white;
    text-decoration: none;
}
#main a:hover{
    color: yellow;
    text-decoration: underline;
}

#main a p{
    margin: 9px 0px 9px 20px ;
}
#mid1{
    border: 1px solid #ecf0f1;
    border-radius: 2%;
    margin: 28px 20px;
    box-shadow: 0 0 10px gray;
    background-color: #ecf0f1;
}
.title3{
    display: flex;
}
.title3 h2{
    margin: 6px 8px;
}
.nav{
    margin:13px 13px;
}
.con1{
    margin-left: 18px;
}
.con{
    display: flex;
}
.con1 .con h4{
    margin-left: 20px;
    line-height: 26px;
}

.title3 .new1 ul li a{
    color: black !important;
}
.title3 .new1 ul li{
    margin-bottom: 50px;
    margin-left: 18px;
    list-style: none;
}
#mid1 h2{
    margin: 6px 8px;
}
/*end main*/
#right{
    width: 25%;
    height: 100%;
    float: left;
    background-color: white;
}
.lich{
    margin-left: 39px;
}
.tab{
    margin: 10px 20px;
}
.past h3{
    margin-left: 20px;
    padding: 3px;
}
.past{
    border: 1px solid black;
    padding: 6px;
}
.past p{
    margin-left: 25px;
}
/*end right */
footer{
    text-align: center;
    background-color:#b2bec3;
    color:#2d3436;
    height: 20%;
    font-size: 16px;
    display: block;
}
.clear{
    width: 100%;
    height: 80px;
    background-color: #2d3436;
}
footer a{
    color: #2d3436;
    text-decoration: none;
}
/*media (min-width: 414px) and (max-width: 896px) {
    #main{
    width: 300px;
    clear: left;
    display: none;
    }
    #left{
       display: none;
    }
    #right{
        displ@ay: none;
    }
    footer{
        font-size: 8px;
        
    }
    .clear{
        display: none;
    }
}*/
